<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light">Thanks for coming back, people needs you</h1>
                <p class="lead">“No one is useless in this world who lightens the burdens of another.”
                    ― Charles Dickens</p>
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-primary btn-lg" (click)="redirect('register')">Register</button>
                        <button type="button" class="btn btn-primary btn-lg ml-3" (click)="redirect('login')">Sign In</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>