/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('assets/images/bg.jpg');
}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .container {
    max-width: 100%;
}